$startcolor: #22223b;
$endcolor: #4a4e69;
$bordercolor: white;
$textcolor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

header {
  background-color: $startcolor; /* 000000 fca311*/
  width: 100%;
}
.header__container {
  height: 10vh;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.header__container h2 {
  color: $textcolor;
}

body {
  background: linear-gradient(to bottom, $startcolor 10%, $endcolor 90%);
  width: 100%;
}
.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__game-name {
  font-style: 24px;
  color: $textcolor;
  margin-bottom: 50px;
}
.container__result {
  margin-bottom: 60px;
  border: 2px solid $textcolor;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__result--sections {
  color: $textcolor;
  display: flex;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 30px;
}
.section h3 {
  margin-bottom: 10px;
}
.section img{
    width: 100px;
    height: 100px;
}
.containter__result--result-text {
    color: white;
    font-size: 18px;
}
.container__action-panel{
    height: 300px;
    width: 600px;
    position: relative;
}
.action-panel__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action-panel__form label {
    color: $textcolor;
    font-size: 26px;
    margin: 40px 0px;
}
.action-panel__form--buttons{
    display: flex;
    justify-self: center;
}
.selection-button {
    background-color: transparent;
    padding: 20px;
    border: 2px solid $bordercolor;
    border-radius: 50%;
    margin: 0px 30px;
}
.selection-button:hover {
    background-color: white;
    box-shadow: 0px 0px 4px 4px rgba(white, 0.2);
}
.action-panel__cover {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), transparent);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}
.active-cover {
    display: flex;
}
.button {
    background-color: $endcolor;
    color: $textcolor;
    font-size: 18px;
    border: 1px solid $bordercolor;
    border-radius: 30px;
    height: 60px;
    width: 250px;
}
.button:hover {
    background-color: $startcolor;
    box-shadow: 0px 0px 4px 4px rgba(white, 0.2);
}
footer {
  background-color: $endcolor;
  height: 10vh;
  margin: auto 0px 0px 30px;
  display: flex;
  align-items: center;
  color: $textcolor;
  font-size: 16px;
}
